! ------------------------------------------------------------------------------
! Colour Configuration
! ------------------------------------------------------------------------------

! special
*.foreground:   #d8dee8
*.background:   #2f343f
*.cursorColor:  #b48ead

! black
*.color0  : #4b5262
*.color8  : #434a5a

! red
*.color1  : #bf616a
*.color9  : #b3555e

! green
*.color2  : #a3be8c
*.color10 : #93ae7c

! yellow
*.color3  : #ebcb8b
*.color11 : #dbbb7b

! blue
*.color4  : #81a1c1
*.color12 : #7191b1

! magenta
*.color5  : #b48ead
*.color13 : #a6809f

! cyan
*.color6  : #89d0bA
*.color14 : #7dbba8

! white
*.color7  : #e5e9f0
*.color15 : #d1d5dc

! ------------------------------------------------------------------------------
! Font configuration
! ------------------------------------------------------------------------------

URxvt*font:             xft:Bitstream Vera Sans Mono:regular:size=10
URxvt*boldFont:			    xft:Bitstream Vera Sans Mono:bold:size=10
URxvt*italicFont:		    xft:Bitstream Vera Sans Mono:italic:size=10
URxvt*boldItalicFont:   xft:Bitstream Vera Sans Mono:bold italic:size=10

! ------------------------------------------------------------------------------
! URxvt configs
! ------------------------------------------------------------------------------

! font spacing
URxvt*letterSpace:		0
URxvt.lineSpace:		0

! general settings
URxvt*saveline:			15000
URxvt*termName:			rxvt-256color
URxvt*iso14755:			false
URxvt*urgentOnBell:		true

! appearance
URxvt*depth:			24
URxvt*scrollBar:		false
URxvt*scrollBar_right:		false
URxvt*internalBorder:		24
URxvt*externalBorder:		0
URxvt.geometry: 		84x22

! perl extensions (keyboard-select from rxvt-perls, font-size from https://github.com/majutsushi/urxvt-font-size)
URxvt.perl-lib:			./.dotfiles/rxvt/ext
URxvt.perl-ext-common: 		font-size,keyboard-select
URxvt.keyboard-select.clipboard:true

! Keybindings
URxvt.keysym.M-Escape: 		perl:keyboard-select:activate

! URxvt.keysym.C-Up:     		font-size:incglobal
! URxvt.keysym.C-Down:   		font-size:decglobal
URxvt.keysym.C-S-Up:   		font-size:increase
URxvt.keysym.C-S-Down: 		font-size:decrease
URxvt.keysym.C-S-R:  		font-size:reset
URxvt.keysym.C-slash:  		font-size:show

! Xterm compat (see http://www.netswarm.net/misc/urxvt-xtermcompat.txt)
*URxvt*keysym.C-Up:		\033[1;5A
*URxvt*keysym.C-Down:		\033[1;5B
*URxvt*keysym.C-Right:		\033[1;5C
*URxvt*keysym.C-Left:		\033[1;5D

! ------------------------------------------------------------------------------
! Rofi configs
! ------------------------------------------------------------------------------

rofi.bw: 3
rofi.color-enabled: true
rofi.color-window: #2e3440, #bf616a, #2e3440
rofi.color-normal: #2e3440, #d8dee9, #2e3440, #2e3440, #bf616a
rofi.color-active: #2e3440, #b48ead, #2e3440, #2e3440, #93e5cc
rofi.color-urgent: #2e3440, #ebcb8b, #2e3440, #2e3440, #ebcb8b
rofi.modi: run,drun,window
