[user]
	email = mpintor@das-nano.com
	name = Mikel Pintor
	username = mpintor

[core]
	editor = vim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore

[push]
	default = simple

[color]
	ui = auto

[diff]
	tool = vimdiff

[difftool]
	prompt = false
